#============================================================================================
#   Unity Project .gitignore
#============================================================================================
#   OS Files
#============================================================================================
._*
.DS_Store*
.Spotlight-V100
.Trashes

[Dd]esktop.ini
ehthumbs.db
[Tt]humbs.db

#============================================================================================
#   Unity Files
#============================================================================================
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/

*.stackdump

sysinfo.txt
 
#============================================================================================
#   Visual Studio, MonoDevelop, and Rider Files
#============================================================================================
[Ee]xported[Oo]bj/
.idea*/
.vs/

*.booproj
*.csproj
*.pidb
*.sln*
*.suo
*.unityproj
*.user
*.userprefs
